<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Ignore" value=""/>
    <!-- Path is relative to the root git folder and it's to the Database.Scripts proj file-->
    <add key="Path" value=""/>
  </appSettings>
</configuration>